<!-- main Continer -->
<div class="flex h-screen">
  <!-- side nav -->
  <div class="w-2xs bg-[#05776e] h-full">
    <app-sidebar></app-sidebar>
  </div>

  <!-- body continer -->
  <div class="h-screen w-full flex flex-col bg-white">
    <!-- body header -->
    <div class="bg-white h-15 flex justify-start px-4 items-center shadow">
      <h3 class="font-semibold text-base">HRMS PORTAL</h3>
    </div>

    <!-- body container -->
    <div class="bg-amber-100 flex-1 overflow-auto p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
